
            .whatsapp-icon {
                fill: #25D366;
            }
            .construction-section {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #1a202c;
                color: white;
            }
            .main-content {
                display: none;
            }

            /* Hexagon clip-path */
            .hexagon {
                clip-path: polygon(
                    98.66024% 45%,
                    99.39693% 46.5798%,
                    99.84808% 48.26352%,
                    100% 50%,
                    99.84808% 51.73648%,
                    99.39693% 53.4202%,
                    98.66025% 55%,
                    78.66025% 89.64102%,
                    77.66044% 91.06889%,
                    76.42788% 92.30146%,
                    75% 93.30127%,
                    73.4202% 94.03794%,
                    71.73648% 94.48909%,
                    70% 94.64102%,
                    30% 94.64102%,
                    28.26352% 94.48909%,
                    26.5798% 94.03794%,
                    25% 93.30127%,
                    23.57212% 92.30146%,
                    22.33956% 91.06889%,
                    21.33975% 89.64102%,
                    1.33975% 55%,
                    0.60307% 53.4202%,
                    0.15192% 51.73648%,
                    0% 50%,
                    0.15192% 48.26352%,
                    0.60307% 46.5798%,
                    1.33975% 45%,
                    21.33975% 10.35898%,
                    22.33956% 8.93111%,
                    23.57212% 7.69854%,
                    25% 6.69873%,
                    26.5798% 5.96206%,
                    28.26352% 5.51091%,
                    30% 5.35898%,
                    70% 5.35898%,
                    71.73648% 5.51091%,
                    73.4202% 5.96206%,
                    75% 6.69873%,
                    76.42788% 7.69854%,
                    77.66044% 8.93111%,
                    78.66025% 10.35898%
                );
            }

            /* Ripple animation */
            @keyframes ripple {
                from {
                    transform: scale(1);
                    opacity: 1;
                }

                50% {
                    transform: scale(calc(0.8 + (var(--ripple-factor, 0) / 100)));
                    opacity: 0.42;
                }

                65% {
                    opacity: 1;
                }
                70% {
                    transform: scale(1.5);
                    filter: blur(1rem);
                }

                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }

            .show-ripple .hexagon {
                animation: ripple 0.45s ease-in-out;
                animation-duration: max(0.45s, calc(0.45s * var(--ripple-factor, 0) / 100));
                animation-delay: calc(var(--ripple-factor, 0) * 8ms);
            }
            
            /* Skill Icons Styling */
            .skill-icon {
                display: inline-block;
                width: 90%;
                height: 90%;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            /* VS Code */
            .skill-icons--vscode {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23f4f2ed00' rx='60'/%3E%3Cpath fill='%232489ca' d='M33.716 100.208s-4.735-3.413.947-7.97l13.236-11.836s3.788-3.985 7.792-.513l122.149 92.479v44.346s-.059 6.964-8.996 6.194z'/%3E%3Cpath fill='%231070b3' d='m65.2 128.792l-31.484 28.623s-3.236 2.407 0 6.708l14.617 13.295s3.472 3.729 8.601-.513l33.378-25.309z'/%3E%3Cpath fill='%230877b9' d='m120.474 129.029l57.741-44.09l-.375-44.109s-2.466-9.627-10.692-4.616l-76.836 69.931z'/%3E%3Cpath fill='%233c99d4' d='M168.844 222.968c3.354 3.432 7.418 2.308 7.418 2.308l44.997-22.173c5.76-3.926 4.951-8.798 4.951-8.798V61.898c0-5.82-5.958-7.831-5.958-7.831l-38.999-18.8c-8.522-5.267-14.105.947-14.105.947s7.18-5.168 10.692 4.616v175.075a8 8 0 0 1-.769 3.453c-1.026 2.071-3.255 4.004-8.601 3.195z'/%3E%3C/g%3E%3C/svg%3E");      
            }
            
            /* HTML */
            .skill-icons--html {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%23E44D26' d='M48 38L56.76 136.744h87.958l-3.298 36.87l-35.574 9.98l-35.328-9.98l-2.266-25.214h-32.02l4.425 49.497l65.147 18.334l65.499-18.334l8.764-98.05H85.631l-2.998-33.28h125.009L211.247 38z'/%3E%3Cpath fill='%23F16529' d='m128 180.572l35.574-9.979l3.298-36.87H128z'/%3E%3Cpath fill='%23EBEBEB' d='M128 103.464h-42.369l2.998 33.28H128zm0 77.108l-35.328-9.98l-2.266-25.214H58.386l4.425 49.497L128 213.209z'/%3E%3Cpath fill='%23EBEBEB' d='M48 38h80v29.647H56.76z'/%3E%3C/svg%3E");
            }
            
            /* CSS */
            .skill-icons--css {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%231572B6' d='M48 38L56.76 136.744h87.958l-3.298 36.87l-35.574 9.98l-35.328-9.98l-2.266-25.214h-32.02l4.425 49.497l65.147 18.334l65.499-18.334l8.764-98.05H85.631l-2.998-33.28h125.009L211.247 38z'/%3E%3Cpath fill='%2333A9DC' d='m128 180.572l35.574-9.979l3.298-36.87H128z'/%3E%3Cpath fill='%23EBEBEB' d='M128 103.464h42.373l2.998-33.28H128z'/%3E%3Cpath fill='%23EBEBEB' d='M128 180.572l-35.328-9.98l-2.266-25.214H58.386l4.425 49.497L128 213.209z'/%3E%3C/svg%3E");
            }
            
            /* JavaScript */
            .skill-icons--javascript {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%23F7DF1E' d='M48 38h160v160H48z'/%3E%3Cpath d='M165.876 171.883c4.296 7.03 9.903 12.172 19.806 12.172c8.322 0 13.657-4.156 13.657-9.903c0-6.884-5.446-9.321-14.596-13.306l-5.014-2.152c-14.453-6.15-24.046-13.87-24.046-30.156c0-15.005 11.428-26.433 29.265-26.433c12.723 0 21.855 4.436 28.46 16.038l-15.578 10.01c-3.424-6.149-7.13-8.574-12.882-8.574c-5.865 0-9.577 3.725-9.577 8.574c0 6.016 3.726 8.446 12.328 12.172l5.013 2.152c17.033 7.302 26.66 14.747 26.66 31.476c0 18.012-14.156 27.915-33.152 27.915c-18.581 0-30.59-8.842-36.465-20.443zm-70.775 1.738c3.154 5.59 6.023 10.316 12.925 10.316c6.6 0 10.752-2.583 10.752-12.617V111.76h20.126v59.857c0 20.84-12.2 30.309-30.008 30.309c-16.082 0-25.384-8.322-30.102-18.336z'/%3E%3C/svg%3E");
            }
            
            /* React */
            .skill-icons--react {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%2361DAFB' d='M128 94.764c7.316 0 13.236 5.92 13.236 13.236s-5.92 13.236-13.236 13.236s-13.236-5.92-13.236-13.236s5.92-13.236 13.236-13.236Zm0 44.902c17.49 0 31.666-14.176 31.666-31.666S145.49 76.334 128 76.334S96.334 90.51 96.334 108S110.51 139.666 128 139.666Z'/%3E%3Cpath fill='%2361DAFB' d='M128 164.948c-35.347 0-68.872-6.356-92.417-17.387C12.34 136.687 0 121.76 0 108c0-13.76 12.34-28.687 35.583-39.561C59.128 57.408 92.653 51.052 128 51.052c35.347 0 68.872 6.356 92.417 17.387C243.66 79.313 256 94.24 256 108c0 13.76-12.34 28.687-35.583 39.561c-23.545 11.031-57.07 17.387-92.417 17.387Zm0-95.946c-33.345 0-65.218 6.016-87.203 16.465C20.69 94.721 18.43 104.34 18.43 108c0 3.66 2.262 13.279 22.367 22.533c21.986 10.45 53.858 16.465 87.203 16.465c33.345 0 65.218-6.016 87.203-16.465C235.31 121.279 237.57 111.66 237.57 108c0-3.66-2.262-13.279-22.367-22.533c-21.986-10.45-53.858-16.465-87.203-16.465Z'/%3E%3Cpath fill='%2361DAFB' d='M82.832 189.041c-5.913 0-10.714-1.035-14.17-3.414c-11.334-7.784-14.136-30.728-7.66-61.98c3.112-14.97 8.104-32.394 14.812-51.471c6.708-19.077 14.348-36.8 22.093-51.203c12.814-23.707 28.326-40.23 43.093-40.23c5.913 0 10.714 1.035 14.17 3.413c11.334 7.784 14.136 30.728 7.66 61.981c-3.112 14.97-8.104 32.394-14.812 51.471c-6.708 19.077-14.348 36.8-22.093 51.203c-12.814 23.707-28.326 40.23-43.093 40.23Zm43.093-189.42c-4.69 0-16.459 5.261-30.489 31.143c-7.396 13.658-14.743 30.81-21.197 49.211c-6.454 18.403-11.237 35.22-14.214 49.474c-5.44 26.204-4.005 44.889 3.584 49.962c1.847 1.237 4.618 1.753 8.223 1.753c4.69 0 16.459-5.26 30.49-31.143c7.395-13.658 14.742-30.81 21.196-49.21c6.454-18.403 11.237-35.22 14.214-49.475c5.44-26.204 4.005-44.889-3.584-49.961c-1.847-1.238-4.618-1.754-8.223-1.754Z'/%3E%3Cpath fill='%2361DAFB' d='M173.168 189.041c-14.767 0-30.279-16.523-43.093-40.23c-7.745-14.403-15.385-32.126-22.093-51.203c-6.708-19.077-11.7-36.5-14.812-51.471c-6.476-31.253-3.674-54.197 7.66-61.98c3.456-2.38 8.257-3.414 14.17-3.414c14.767 0 30.279 16.523 43.093 40.23c7.745 14.403 15.385 32.126 22.093 51.203c6.708 19.077 11.7 36.5 14.812 51.471c6.476 31.253 3.674 54.197-7.66 61.98c-3.456 2.38-8.257 3.414-14.17 3.414Zm-57.923-150.115c-3.584 5.073-5.018 23.758.422 49.962c2.977 14.254 7.76 31.071 14.214 49.474c6.454 18.402 13.8 35.554 21.197 49.212c14.03 25.882 25.8 31.143 30.49 31.143c3.605 0 6.376-.516 8.223-1.754c7.588-5.073 9.024-23.757-.421-49.961c-2.977-14.255-7.76-31.072-14.214-49.475c-6.454-18.402-13.8-35.553-21.197-49.211c-14.03-25.882-25.8-31.143-30.49-31.143c-3.604 0-6.376.516-8.223 1.753Z'/%3E%3C/svg%3E");
            }
            
            /* Node.js */
            .skill-icons--nodejs {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='%23679E63' d='M119.878 31.74a14.41 14.41 0 0 1 14.4 0l91.22 52.676a14.06 14.06 0 0 1 7.073 12.143v105.35a14.06 14.06 0 0 1-7.074 12.145l-91.22 52.674a14.41 14.41 0 0 1-14.4 0l-91.22-52.675a14.06 14.06 0 0 1-7.073-12.144V96.56c0-5.008 2.705-9.761 7.074-12.142L119.878 31.74Z'/%3E%3Cpath fill='%23333' d='M125.236 39.133a6.42 6.42 0 0 1 6.12 0l91.221 52.676a5.89 5.89 0 0 1 3.11 5.163v105.35a5.89 5.89 0 0 1-3.111 5.164l-91.22 52.674a6.42 6.42 0 0 1-6.12 0l-91.22-52.675a5.89 5.89 0 0 1-3.111-5.163V96.97c0-2.12 1.147-4.08 3.11-5.162l91.22-52.676Z'/%3E%3Cpath fill='%23679E63' d='M214.37 100.595A6.017 6.017 0 0 0 213.454 99a5.352 5.352 0 0 0-1.39-.815l-66.78-39.493l-.084-.042a5.707 5.707 0 0 0-1.143-.459a6.007 6.007 0 0 0-4.683.459l-67.09 39.578a5.665 5.665 0 0 0-2.513 4.6v78.963c0 1.304.516 2.5 1.332 3.338a.307.307 0 0 0 .07.105c.136.137.284.258.442.372c.251.187.285.194.67.41l39.93 23.562c.5.292.844.398 1.416.58c.167.053.3.106.481.15c1.096.216 2.928.216 4.17-.48l39.54-23.743c.481-.277.708-.411.959-.598c.158-.114.306-.234.442-.371l.07-.105a5.248 5.248 0 0 0 1.332-3.339v-78.68c0-1.51-.644-2.928-1.474-3.9Zm-3.623 80.797c0 .42-.244.969-.515 1.198l-52.192 31.344c-.271.229-.889.229-1.16 0l-52.191-31.344c-.272-.23-.516-.778-.516-1.198v-62.494c0-.42.244-.968.516-1.198l52.191-31.344c.271-.23.889-.23 1.16 0l52.192 31.344c.271.23.515.779.515 1.198v62.494Z'/%3E%3Cpath fill='%23FFF' d='M158.19 170.68c-14.304 0-17.228-6.575-17.228-12.081v-.772h6.97c.153 0 .29.098.344.24c.382 4.347 1.569 6.56 9.907 6.56c6.107 0 8.712-1.383 8.712-4.615c0-1.868-.736-3.251-10.218-4.184c-7.926-.775-12.826-2.534-12.826-8.867c0-5.84 4.92-9.324 13.17-9.324c9.26 0 13.85 3.214 14.412 10.11a.36.36 0 0 1-.096.275a.365.365 0 0 1-.255.11h-7.025a.34.34 0 0 1-.334-.257c-.382-4.236-2.637-5.596-6.747-5.596c-4.97 0-5.555 1.73-5.555 3.02c0 1.57.68 2.023 9.907 2.911c8.904.889 13.083 2.688 13.083 9.081c0 6.304-5.25 10.389-15.22 10.389Z'/%3E%3C/svg%3E");
            }
            
